.dashboard {
  width: 100%;

  &__header {
    color: #FFF;
  }

  &__content {
    background-color: #FFF;
    margin: 24px 16px 0;
    min-height: 280px;
  }
}

.bill {
  &__editable-row .ant-form-explain {
    position: absolute;
    font-size: 12px;
    margin-top: -4px;
  }

  &__editor_btn {
    margin-right: 10px;
  }

  &__editor_red {
    color: #F00;
  }
}

.ant-table-filter-dropdown .ant-dropdown-menu {
  max-height: 300px;
}