.dashboard {
  width: 100%;

  &__header {
    color: #FFF;
  }

  &__content {
    padding: 24px 16px 40px;
    min-height: 280px;
    overflow-x: auto;
  }
}

.ant-table-filter-dropdown .ant-dropdown-menu {
  max-height: 300px;
}